@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder {
  text-align: center;
  letter-spacing: 0.02rem;
}

@layer components {
  .super-flex {
    @apply flex flex-col justify-center items-center text-center;
  }
  .super-btn {
    @apply p-5 bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500  rounded-3xl border-2 border-blue-800 hover:border-white hover:shadow-lg hover:shadow-green-600 hover:bg-sky-700 duration-500 mt-3 hover:text-white;
  }
  .super-navbar {
    @apply w-[10rem] text-center  hover:text-white duration-500 border-2 border-white rounded-3xl p-1 hover:shadow-lg hover:shadow-yellow-500;
  }
  .super-input {
    @apply border-blue-500 mt-5 px-5 border-2 rounded-xl min-w-[250px];
  }
}
